In [5]:
num=10
print(id(num), num)
num=20
print(id(num), num)

140731258213448 10
140731258213768 20

In [17]:
a=2
b=2


print(a, id(a))
print(b, id(b))

c=257
d=257

print(c, id(c))
print(d, id(d))

e=-6
f=-6

print(e, id(e))
print(f, id(f))

#interning works between -5 to 256 only
#Interning means storing the value of equal variables in same memory

2 140731258213192
2 140731258213192
257 2153276703152
257 2153276702864
-6 2153275636912
-6 2153275637680

In [4]:
print(num, type(num))

20 <class 'int'>

In [6]:
num1=True
num2=10.5
print(num1+num2)

11.5

In [1]:
print(-13/3) #divison
print(-13//3) #floor divison
print(-13%3) # modulus

-4.333333333333333
-5
2

In [13]:
import math

print(math.floor(-4.3))
print(math.ceil(-4.3))
print(math.floor(4.3))
print(math.ceil(4.3))

-5
-4
4
5

In [ ]:
#-------------- Day 2-----------------

In [19]:
# Operators
# Assignment operators
# a=10
# a+=10
# a-=10
# a*=10
# a/=10
# number= divisor*quotient+remainder
# a//=10(floor division, gives quotient)
# a%=10(modulus, gives remainder)
# a**=10

In [23]:
#Comparison operators (returns boolean values)
print (10 > 15)
print (10 >= 15)
print (10 < 15)
print (10 <= 15)
print(10==15)  # equal to
print(10!=15)  # not equal to

False
False
True
True
False
True

In [ ]:
# Logical operators ( and , or , not)

# and --> both condition should be true
# or--> any one of the condtion should be true
# not --> converts true to false and vice versa

In [24]:
# Identity operator( is, is not ) ( to compare)
num1= 10
num2=15
print(num1 is num2)

# == compares values whereas 'is' compares address

False

In [2]:
# Membership operator (in, not in )


news = 'India won the world cup'
word= 'India '

print(word in news)

True

In [3]:
#bitwise operator (AND, OR, XOR, left shift operator, right shift operator)(&, |,^,<<, >>)
'''(take the decimal values and convert them to binary value and does the operation and 
converts the value to decimal and returns the result)'''

a=2
b=3
print(bin(a))
print(bin(b))
print(a & b)
print(bin(a & b))
print(a | b)
print(bin(a | b))

print(2<<1)#(moves the binary digit of the value once to the left side(2=1 0 , once moved left side its, 1 0 0 => 4))

print(2<<2)

print(8>>2)

0b10
0b11
2
0b10
3
0b11
4
8
2

In [ ]:
#-------------------Strings--------------

In [13]:
print('He is a good boy')

# print('He is a 'good' boy') (cannot print this as it has syntax error due to '', use double quotes outside to avoid this)

print("He is a 'good' boy")

# print("He is a "good" boy")(cannot print this as it has syntax error due to "", use triple quotes outside to avoid this)

print('''He is a "good" boy''')

#use triple quotes for multiple lines

He is a good boy
He is a 'good' boy
He is a "good" boy

In [22]:
first_name='Jon'
last_name='Snow'

print(first_name+' '+ last_name +' '+ 'is a good boy')

#Formatted strings-f

print(f'{first_name}{last_name}is a good boy')#(without spaces)
print(f'{first_name} {last_name} is a good boy')

Jon Snow is a good boy
JonSnowis a good boy
Jon Snow is a good boy

In [28]:
print('good boy')
print('bad boy')

#by default it is printed in new line due to end'\n' command present by default

print('good boy', end='\n')
print('bad boy')

print('good boy', end=' ')#(uses space instead of a new line)
print('bad boy')

good boy
bad boy
good boy
bad boy
good boy bad boy

In [29]:
#user input

name=str(input('Enter the name:'))#(str is not needed as all the inputs are considered str by default)
age=int(input('Enter the age:'))
print(name, age)

Enter the name:surya
Enter the age:27
surya 27

In [31]:
#length of a String

name='Surya'
print(len(name))

a='Super Mario'
print(len(a))#(space will be counted)

5
11

In [35]:
#Index

name='Surya'
print(name[0])  # prints the first character

#reverse index
print(name[-1]) # prints the last character

S
a

In [38]:
#strings are immutable

name='RAM'
name[0]='J'
print(name)

'''cannot over write a single character in a string as 
it is not possible to change a single character's memory in total string's memory'''

TypeError: 'str' object does not support item assignment

In [1]:
name='RAM'
name='JAM'

print(name) # this is possible as python stores a new name in a new memory

JAM

In [4]:
#to replace a character then .replace can be used but this will replace all that character

name='RAM'
name=name.replace('R','J')
print(name)

#to replace only one character then give number of changes needed.

name='RAMA RAO'
name=name.replace('R','J')
print(name)

name='RAMA RAO'
name=name.replace('R','J',1)
print(name)

JAM
JAMA JAO
JAMA RAO

In [40]:
print(~ -3)

2

In [13]:
z=16
print(bin(z))
print(z>>3)

0b10000
2